name: PR Checks
run-name: ${{ github.actor }} is testing PR

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main
  workflow_dispatch:

jobs:
  lint-and-test:
    name: Lint & Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node. js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Run Tests
        uses: ./.github/actions/runTests

      - name: Generate Coverage Report
        uses: ./.github/actions/runReporting
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          minimum-coverage: "75"
